PORT=4000
USE_DB=false
DATABASE_URL=postgres://usuario:password@localhost:5432/logistica
ADMIN_USER=admin
ADMIN_PASS=admin123
ADMIN_SEED_NAME=Walter
ADMIN_SEED_EMAIL=wruizmarin21@gmail.com
ADMIN_SEED_PASS=wally21
DNI_API_URL=https://api.decolecta.com/v1/reniec/dni
DNI_API_TOKEN=tu_token_api_dni
